.cardContainer {
  width: 300px;
  height: 80%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tempConditionContainer {
  text-align: center;
}
.temperature {
  margin-bottom: 0px;
}
.condition {
  margin: 0px;
  font-size: 15px;
  color: #555;
}
.detailsRow {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Vertically center items */
  padding: 10px;
  border-top: 1px solid #ccc;
  max-width: 600px;
  margin: auto;
}
.details {
  display: flex;
  gap: 15px;
  background: #f0f0f0;
  padding: 8px 12px;
  border-radius: 4px;
  flex-direction: column;
  margin-right: 30px;
}
.icon {
  width: auto;
  border-radius: 4px;
}
