.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.searchBar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  margin-left: 10px;
  padding: 10px 16px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background: #555;
}
